<% if(locals.user) { %>

    <div id="user-chat-box">
        <div id="chat-heading">Chat Room</div>

        <ul id="chat-messages-list">

            <!-- <li class="other-message">
                <span></span>
            </li>
            <li class="self-message">
                <span>Self message</span>
            </li> -->

        </ul>
        <div id="chat-message-input-container">
            <input id="chat-message-input" placeholder="Type Message here...">
            <button id="send-message">Send</button>
        </div>

    </div>

<% } %>    